$grey-shade: #474747;
$grey-tint: #a5a5a5;
$white:#f7f7f7;
$white-border:#ececec;
$font1:'Raleway',sans-serif;
$font2:'Jaldi',sans-serif;
$wrapper-width:940px;
$width:1400px;
@import 'https://fonts.googleapis.com/css?family=Jaldi|Raleway';




body{
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,h6,p,a{
	margin:0;
	padding:0;
}
.wrapper{
	width:940px;
	margin:0 auto;
	box-sizing: border-box;
	overflow: hidden;
	
}
div{
	box-sizing: border-box;
	
	
	
}


/*============border-top================*/
#border-top{
	border-top:4px solid $white-border;
}
/*==============SECTION 1===============*/
	#section1{
		overflow: hidden;
		padding-bottom: 50px;
		padding-top: 50px;
			.logo{
				float:left;
				width:150px;
				height:40px;

					img{
					width:150px;
					height:35px;
					}

			}

			.clear{
					width:260px;
					float:left;
					height:50px;
					}

			.nav{
				float:right;
				a{
					text-decoration: none;
					color:$grey-shade;
					font-family: $font1;
					font-size:20px;
					display:block;
					font-weight: 500;
				}
				li{
					list-style-type: none;
					float:left;
					width:100px;
					text-align: center;
				}
				ul{

					margin:0;
					padding:0;
					overflow: hidden;
				}
				a:hover{
					color:$grey-tint;
				}
			}
			.nav-p{
				
				margin-bottom: 5px;
				h1{
					
					color:$grey-tint;
					font-family: $font1;
					font-size:12px;
					display:block;
				}
				li{
					list-style-type: none;
					float:left;
					width:100px;
					text-align: center;
				}
				ul{
					margin:0;
					padding-left:125px;
					overflow: hidden;
				}
			}


	}

/*==============SECTION 2===============*/
	#section2{
		height:480px;
		background-image: url('../img/bg2.jpg');
		background-size:100% 100%;
		background-repeat: no-repeat;
		clear:both;
		padding-top: 402px;
			.sec2-block{
				
				padding-top: 15px;
				padding-left: 15px;
				padding-bottom: 15px;
				background-color: rgba(64,64,64,0.2);
				width:280px;
				width:100%;
				
				h3{
					font-family: $font1;
					font-size:14px;
					color:$grey-tint;
				}
				h1{
					font-family: $font1;
					font-size:28px;
					color:#fff;
				}
				
			}
			.sec2-block:hover{
				width:100%;
				background-color: rgba(64,64,64,0.4);
				
			}
	}

/*==============SECTION 3===============*/
	#section3{
			padding-top: 22px;
			padding-left: 20px;
			padding-bottom: 22px;
			background-color: #f5f5f5;

			h1{
				font-family: $font1;
				font-size:16px;	
				color:#404040;
				padding-bottom: 22px;
			}
			

			p{
				font-family: $font2;
				color:#404040;
				font-size:12px;
				line-height: 20px;
			}
		}



/*==============SECTION 4===============*/
 	#section4{
 		padding-top: 70px;
 		padding-bottom: 70px;
 		overflow: hidden;

	 		.s4-block{
	 			width:300px;
	 			float:left;
	 			margin-left: 5px;
	 			margin-right: 7px;
	 			overflow: hidden;
	 				.s4-img{
	 					float:left;
	 					width:50px;
		 					img{
		 						width:50px;
		 					}
	 				}

	 				.s4-h1{
	 					width:240px;
	 					float:left;
	 					margin-left: 8px;
	 						h1{
	 							font-family: $font1;
	 							font-size: 20px;
	 							color:$grey-shade;
	 							line-height: 25px;
	 						}
	 				}
	 				.s4-cont{
	 					clear: both;
	 					padding-top:30px;
	 					font-family: $font2;
	 					font-size:12px;
	 					line-height: 20px;
	 					color:$grey-shade;
	 				}

	 				.s4-link{
	 					padding-top: 45px;
	 						a{
	 							text-decoration: none;
	 							color:$grey-shade;
	 							font-family: $font1;
	 							font-size:12px;
	 							font-weight: 800;
	 						}
	 				}
	 		}
 	}





/*============================================================
==============================================================
======================ABOUT PAGE==============================
==============================================================
=============================================================*/




/*=============SECTION 2a===============================*/

	#section2a{
		border-bottom: 8px solid $white-border;
			h1{
				padding-top: 15px;
				padding-bottom: 15px;
				font-family: $font1;
				color:$grey-shade;
				font-size:24px;

			}
			p{
				font-family: $font2;
				color:$grey-tint;
				font-size:12px;
				font-style: italic;
				line-height: 20px;
				padding-bottom: 10px;

			}
	}


/*=============SECTION 3a================================*/
	#section3a{
		padding-top: 40px;
		padding-bottom: 60px;
		overflow: hidden;
			.s3a-block{
				width:300px;
				margin-left: 5px;
				margin-right: 7px;
				float:left;
					h1{
						color:$grey-shade;
						font-family: $font1;
						font-size:24px;
						padding-bottom: 25px;
					}
					h4{
						color:$grey-tint;
						font-family:$font2;
						font-size:12px;
						line-height: 20px;
						padding-bottom: 20px;

					}
					p{
						color:$grey-shade;
						font-family:$font2;
						font-size:12px;
						line-height: 20px;
					}
			}
	}

/*====================SECTION 4a=================*/
#section4a{
	border-top: 8px solid $white-border;
	padding-top: 60px;
	padding-bottom: 100px;
	overflow: hidden;
		.s4a-block{
			width:300px;
			margin-left: 5px;
			margin-right: 7px;
			float:left;
			overflow: hidden;
				.s4a-img{
					width:300px;
					height:135px;
						img{
							width:300px;
							height:135px;
						}
				}
				.s4a-name{
					float:left;
					width:148px;
					box-sizing: border-box;
					height:70px;
					padding-left: 15px;
					padding-top: 20px;
						h1{
							color:$grey-shade;
							font-size: 18px;
							font-family: $font1;
							padding-bottom: 8px;
						}
						h4{
							color:$grey-tint;
							font-size:12px;
							font-family: $font1
						}
				}
				.s4a-num{

					padding-top: 20px;
					float:left;
					width:148px;
					box-sizing: border-box;
					text-align: right;
					height:70px;
					padding-left: 15px;
					        p{
					        	color:$grey-shade;
					        	font-family: $font1;
					        	font-size:18px;
					        }
				}
				.s4a-cont{
					padding-left: 15px;
							p{
								font-family: $font2;
								color:$grey-tint;
								font-size:12px;
								line-height:20px;
							}
				}
		}
}












































/*========================================================
==========================================================
==========================================================
=========================CONTACT PAGE=====================
==========================================================
=========================================================*/






/*================SECTION C first=========================*/

#sectionc-first{
	width:665px;
	float:left;


			/*==============SECTION 2C================*/
				#section2c{
					border-bottom: 8px solid $white-border;
						h1{
							color:$grey-shade;
							font-size:24px;
							font-family: $font1;
							padding-top: 15px;
							padding-bottom: 15px;
						}
						p{
							color:$grey-tint;
							font-size:12px;
							font-family: $font2;
							line-height: 20px;
							padding-bottom: 10px;

						}
				}

			/*===============SECTION 3C================*/
				#section3c{
					padding-top: 40px;
					padding-bottom: 40px;
						p{
							color:$grey-shade;
							font-family: $font2;
							font-size:12px;
							line-height: 20px;
							padding-bottom: 20px;
						}
				}


			/*===============SECTION 4C================*/
				#section4c{
					padding-bottom: 240px;
					form{
						input[type=text]{
							padding-top: 12px;
							padding-left: 12px;
							padding-bottom: 12px;
							margin-bottom: 10px;
							width:220px; 
							border:1px solid #eeeeee;
							background-color: #fafafa;
						}

						input[type=email]{
							padding-top: 12px;
							padding-left: 12px;
							padding-bottom: 12px;
							margin-bottom: 10px;
							width:220px; 
							border:1px solid #eeeeee;
							background-color: #fafafa;
						}

						textarea{
							padding-top: 12px;
							padding-left: 12px;
							padding-bottom: 12px;
							margin-bottom: 10px;
							width:495px;
							height:205px;
							border:1px solid #eeeeee;
							background-color: #fafafa;
						}

						input[type=submit]{
							background-color: #fff;
							border:1px solid #eeeeee;
							padding: 10px;
							border-radius: 5px;

						}

						input[type=submit]:hover{
							background-color: #eeeeee;
						}
						::-webkit-input-placeholder {
  							 color: $grey-tint;
  							 font-size: 12px;
  							 font-family: $font1;
}
					}
				}







}






/*================SECTION C second=========================*/






#sectionc-second{
	width:230px;
	float:left;
	margin-left:43px;
			.s5c-block{
				padding-bottom: 2px dotted $grey-shade;
					h3{
						padding-top: 30px;
						color:$grey-shade;
						font-size: 12px;
						font-family: $font1;
						
					}
					p{	
						padding-top: 15px;
						color:$grey-tint;
						font-size:12px;
						font-family: $font2;
						line-height: 20px;
					}
					ul{
						li{
							list-style-type: none;
							padding-top: 10px;
						}
					}
					a{
						text-decoration: none;
						color:$grey-shade;
						font-family: $font2;
						font-size: 12px;
						margin-right: 10px;
					}
			}



}
















/*=============================================
===============================================
=====================SECTION QUOTES================
===============================================
==============================================*/











/*===================SECTION 1Q=====================*/

#section1q{
	
		border-bottom: 8px solid $white-border;
			h1{
				padding-top: 15px;
				padding-bottom: 15px;
				font-family: $font1;
				color:$grey-shade;
				font-size:24px;
				text-align: center;

			}
			p{
				font-family: $font2;
				color:$grey-tint;
				font-size:12px;
				font-style: italic;
				line-height: 20px;
				padding-bottom: 10px;

			}
			
			.qBlock1, .qBlock2{
				width:50%;
				float:left;
				h3{
					padding-top: 20px;
				
				font-family: $font1;
				color:$grey-shade;
				font-size:20px;
				text-align: center;
				}
				ul{
					border-top:1px dotted $grey-tint;
					padding-top:20px;
					list-style-type: none;
				}
					a{
						font-family: $font2;
						color:$grey-tint;
						font-size:18px;
						
						line-height: 20px;
						text-decoration: none;
					}
					.more{
						color:$grey-shade;
						font-weight: 800;
					}
					a:hover{
						text-decoration: underline;
					}
			}
			
}


/*================SECTION 2q=======================*/

#section2q{
	clear: both;
	.moreP{

		font-family: $font2;
		color:$grey-shade;
		font-weight: 800;
		font-size:18px;
						
		line-height: 20px;
		text-decoration: none;
		border:1px solid $grey-tint;
		border-radius: 20px;
		padding: 0px 10px 0px 10px;

		}	
	.moreP:hover{
		color:$grey-tint;
				}
	
	h1{
				padding-top: 30px;
				padding-bottom: 30px;
				font-family: $font1;
				color:$grey-shade;
				font-size:24px;
				
			}
	.s2q-pic{
		
		width:100%;
			.picBlock{
				border:1px solid $grey-tint;
				float:left;
				width:200px;
				margin:30px 10px 30px 10px;
				
					.picB1{
						height:150px;
						width:200px;
						
						img{
							
							width:199px;
							height:150px;
						}
					}
					.picB2{
						padding-top: 15px;
						padding-bottom: 15px;
						text-align: center;
						
						width:200px;
						a{
							text-decoration: none;
							img{
								margin-left:5px;
								margin-right: 5px;
								width:20px;
							}
						}

					}

			}
	}
}








































































/*=======================FOOTER======================*/
	#footer{
		padding-top: 30px;
		padding-bottom: 30px;
		background-color: $white;
		border-top:4px solid $white-border;
				.copy{
					p{
						font-family: $font1;
						color:$grey-shade;
						font-size: 12px;
					}
			}
	}
